* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* height: 300vh; */

}

/*nav*/
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #6D48E5;
}

nav .links a {
    padding-right: 20px;
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}

.logo {
    font-size: 8px;
}

.links button {
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    cursor: pointer;
}

.first {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.first .pic img {
    width: 43rem;
}

.first .pic {
    padding-top: 40px;
}

.first .blabla {
    text-align: center;
    padding-top: 10px;
}

.first .blabla h1 {
    color: #364655;
    font-size: 27px;
    font-weight: 500;
}

.first .blabla p {
    color: #8E889C;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}

.first button {
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    font-size: 12px;
}

/*second*/


.second {
    height: 110vh;
    background-color: #F6F6FD;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f6f6fd;
    /* row-gap: 10px; */

}

.second .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.open,
.close {
    display: none;

}

.top h1 {
    color: #3a3a47;
}

.top p {
    color: gray;
}

.second .bottom {
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: 30vh;
    /* grid-template-columns: 10vw; */
    justify-content: center;
    align-items: center;
    gap: 20px;



}

.second .bottom div {
    text-align: center;
    padding: 20px;
    height: 30vh;
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer {
    height: 75vh;
    background-color: #F6F6FD;
}

footer .footerlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-bottom: 20px;
}

footer .mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 93%;
}

footer .mainfooter button {
    padding: .8rem 10rem;
    color: white;
    background-color: #6D48E5;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

footer form input {
    padding: 1rem 12rem .8rem 3rem;
    border: #6D48E5 solid 1px;
    border-radius: 5px;
}

footer form {
    padding-bottom: 20px;
}

.mainfooter .p2 {
    padding-top: 10px;
    color: #8E889C;
    font-size: 13px;
}

.mainfooter .p1 {
    padding-left: 10px;
    color: #8E889C;
    font-size: 15px;
}

.mainfooter h1 {
    width: 45rem;
    padding-bottom: 45px;
    font-size: 28px;
    font-weight: 600;
}

.footerlinks .logo {
    color: #6D48E5;
    font-weight: 500;
    font-size: 16px;
}

.footerlinks .copyright {
    color: #8E889C;
}

.footerlinks a {
    text-decoration: none;
    padding-right: 10px;
    color: #8E889C;
}


.bottom h2 {
    color: #3a3a47;
}

.bottom p {
    color: gray;
}

.bottom div .icon {
    width: 50px;
    height: 50px;
    background-color: #ece7fe;
    color: #1c4b69;
    border-radius: 50%;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}

/*section4*/

.four {
    height: 60vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #6d48e5;
}

.first-four {
    flex-direction: column;
    display: flex;
    gap: 30px;

}

.inside-four {
    display: flex;
    column-gap: 150px;
}

.inside-four div,
.first-inside-four,
.second-four {
    color: white;
}

.second-four p {
    font-size: 10px;
    border-bottom: 1px solid black;
}

/*section 5*/

.five {
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.right-five {
    width: 30%;
    height: 50vh;
    /* background-color: #6D48E5; */
    flex-direction: column;
    display: flex;
    gap: 30px;
    justify-content: center;
    /* align-items: center; */
}

.right-five div {
    display: flex;
    column-gap: 40px;

}

.right-five div div {
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.left-five {
    width: 35vw;
    height: 45vh;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 1px 48px 4px rgba(0, 0, 0, 0.75);
}

.to {
    font-size: 23px;
}

.bo {
    font-size: 14px;
    color: gray;
}

.me {
    position: relative;
    top: 10px;
}


/* ......third...... */
.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part1 p {
    color: #8E889C;
    font-size: 20px;
    width: 45vw;
    text-align: center;
}

.third {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.block {
    width: 28vw;
    height: 38vh;
    background-color: #1c4b69;
}

.part2 {
    display: flex;
    column-gap: 20px;

}



#menu {
    display: none;
}

.close , .open{
    display: none;
}

.right {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    flex-direction: column;

}

.right p {
    width: 300px;
    color: #364655;
    font-size: 18px;
}

.span1 {

    color: #8E889C;
    border-bottom: #8E889C solid 1px;
    width: 55px;
    position: relative;
    top: -14px;

}

.right a {
    text-decoration: none;
    color: #8E889C;
}

.part3 {
    display: flex;
    column-gap: 20px;
}

@media (max-width:500px) {

    .second,
    .third,
    .four,
    .five,
    footer {
        display: none
    }

    nav {
        position: relative;
        justify-content: space-between;
        padding: 20px;
        /* display: flex;
    flex-direction: column; */
    }

    .links {
        display: block;
        position: absolute;
        background-color: #364655;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        top: 15vh;
        left: -100%;
        padding: 20px 0;
        border-radius: 20px;
        transition: 1s;
        height: auto;
        row-gap: 10px;
    }

    .close , .open{
        position: absolute;
        right: 10px;
    }

    .open {
        display: block;
    }

    #menu {
        display: block;
    }

    #menu:checked~.links {
        left: 5vw;
    }

    #menu:checked~ label> .open {
        display: none;
    }

    #menu:checked~ label>  .close {
        display: block;
    }

    #menu {
        display: none;
    }

    .first .pic img {
        width: 24rem;
    }

    .blabla h1 {
        width: 26rem;
    }

    .blabla p {
        width: 26rem;
    }

}