*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #6D48E5;
}
nav .links a{
    padding-right: 20px;
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
.logo{
    font-size: 8px;
}
.links button{
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    cursor: pointer;
}
.first{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.first .pic img{
    width: 43rem;
}
.first .pic{
    padding-top: 40px;
}
.first .blabla{
    text-align: center;
    padding-top: 10px;
}
.first .blabla h1{
    color: #364655;
    font-size: 27px;
    font-weight: 500;
}
.first .blabla p{
    color: #8E889C;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}
.first button{
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    font-size: 12px;
}
.second{
    height: 110vh;
    background-color: #F6F6FD;

}
.second .top{
    width: 100%;
      display: flex;
    flex-direction: column;
    align-items: center;
}
.second .bottom{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.second .bottom div{
    text-align: center;

}

footer{
    height: 75vh;
    background-color: #F6F6FD;
}
footer .footerlinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    padding-bottom: 20px;
}
footer .mainfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 93%;
}
footer .mainfooter button{
    padding: .8rem 10rem;
    color: white;
    background-color: #6D48E5;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
footer form input {
   padding: 1rem 12rem .8rem 3rem;
   border: #6D48E5 solid 1px;
   border-radius: 5px;
}
footer form{
    padding-bottom: 20px;
}
.mainfooter .p2{
    padding-top: 10px;
    color: #8E889C;
    font-size: 13px;
}
.mainfooter .p1{
    padding-left: 10px;
    color: #8E889C;
    font-size: 15px;
}
.mainfooter h1{
    width: 45rem;
    padding-bottom: 45px;
    font-size: 28px;
    font-weight: 600;
}
.footerlinks .logo{
    color: #6D48E5;
    font-weight: 500;
    font-size: 16px;
}
.footerlinks .copyright{
    color: #8E889C;
}
.footerlinks a{
    text-decoration: none;
    padding-right: 10px;
    color: #8E889C;
}