*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      font-family: 'Poppins', sans-serif;
}

/*nav*/
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #6D48E5;
}
nav .links a{
    padding-right: 20px;
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
.logo{
    font-size: 8px;
}
.links button{
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    cursor: pointer;
}
.first{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.first .pic img{
    width: 43rem;
}
.first .pic{
    padding-top: 40px;
}
.first .blabla{
    text-align: center;
    padding-top: 10px;
}
.first .blabla h1{
    color: #364655;
    font-size: 27px;
    font-weight: 500;
}
.first .blabla p{
    color: #8E889C;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}
.first button{
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    font-size: 12px;
}

/*second*/


.second{
    height: 110vh;
    background-color: #F6F6FD;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f6f6fd;
    /* row-gap: 10px; */

}
.second .top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top h1{
    color: #3a3a47;
}

.top p{
    color: gray;
}
.second .bottom{
    width: 80%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: 30vh;
    /* grid-template-columns: 10vw; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
    
}
.second .bottom div{
    text-align: center;

    padding: 20px;
    height: 30vh;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.bottom h2{
    color: #3a3a47;
}

.bottom p{
    color: gray;
}

.bottom div .icon{
    width: 50px;
    height: 50px;
    background-color: #ece7fe;
    color: #1c4b69;
    border-radius: 50%;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}