*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #6D48E5;
}
nav .links a{
    padding-right: 20px;
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
.logo{
    font-size: 8px;
}
.links button{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: #6D48E5;
    color: white;
    cursor: pointer;
}
.first{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
